<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty name="K8S_Namespace" source="k8s.namespace" defaultValue="undefined"/>
    <springProperty name="ENV_STAGE" source="env.stage" defaultValue="undefined"/>
    <springProperty name="WKR_NODE_NAME" source="wkr.node.name" defaultValue="undefined"/>
    <springProperty name="WKR_NODE_IP" source="wkr.node.ip" defaultValue="undefined"/>
    <springProperty name="APP_NAME" source="app.name" defaultValue="platform-example-spring"/>
    <springProperty name="POD_INST_NAME" source="pod.inst.name" defaultValue="undefined"/>
    <springProperty name="POD_IP" source="pod.ip" defaultValue="undefined"/>
    <springProperty name="loglevel" source="LOGGING_LEVEL" defaultValue="INFO"/>

    <property name="PLATFORM_LOG_PATTERN"
              value="${PLATFORM_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr([K8S_Namespace=${K8S_Namespace}]){green} %clr([ENV_STAGE=${ENV_STAGE}]){green} %clr([WORKER_NODE=${WKR_NODE_NAME}/${WKR_NODE_IP}]){green} %clr([APP_NAME=${APP_NAME}]){magenta} %clr([POD_INSTANCE=${POD_INST_NAME}]){magenta} %clr([POD_IP=${POD_IP}]){magenta} %clr([SessionId=%X{sessionId}]){magenta} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PLATFORM_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <logger name="com.jade.samples" level="${loglevel}"/>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
